services:
  airflow:
    build: .
    container_name: airflow
    ports:
      - "8080:8080"

    environment:
      AIRFLOW__CORE__EXECUTOR: SequentialExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__CORE__FERNET_KEY: "gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA="

    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs

    command: >
      bash -c "
      airflow standalone
      "